policy_module(tenzura, 1.100.1)

########################################
#
# Declarations
#

type tenzura_t;
type tenzura_exec_t;
init_daemon_domain(tenzura_t, tenzura_exec_t)

permissive tenzura_t;

type tenzura_initrc_exec_t;
init_script_file(tenzura_initrc_exec_t)

type tenzura_conf_t;
files_type(tenzura_conf_t)

type tenzura_var_lib_t;
files_type(tenzura_var_lib_t)

type tenzura_var_run_t;
files_type(tenzura_var_run_t)

type tenzura_port_t;
corenet_port(tenzura_port_t)

########################################
#
# tenzura local policy
#
allow tenzura_t self:process { fork };

allow tenzura_t self:fifo_file rw_fifo_file_perms;
allow tenzura_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(tenzura_t, tenzura_conf_t, tenzura_conf_t)
manage_files_pattern(tenzura_t, tenzura_conf_t, tenzura_conf_t)

manage_dirs_pattern(tenzura_t, tenzura_var_lib_t, tenzura_var_lib_t)
manage_files_pattern(tenzura_t, tenzura_var_lib_t, tenzura_var_lib_t)
files_var_lib_filetrans(tenzura_t, tenzura_var_lib_t, { dir file })

manage_dirs_pattern(tenzura_t, tenzura_var_run_t, tenzura_var_run_t)
manage_files_pattern(tenzura_t, tenzura_var_run_t, tenzura_var_run_t)

sysnet_dns_name_resolve(tenzura_t)
corenet_all_recvfrom_unlabeled(tenzura_t)

allow tenzura_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(tenzura_t)
corenet_tcp_sendrecv_generic_node(tenzura_t)
corenet_tcp_sendrecv_all_ports(tenzura_t)
corenet_tcp_bind_generic_node(tenzura_t)

gen_require(`
    type tenzura_port_t;
')
allow tenzura_t tenzura_port_t:tcp_socket name_bind;

gen_require(`
    type tenzura_port_t;
')
allow tenzura_t tenzura_port_t:tcp_socket name_connect;

domain_use_interactive_fds(tenzura_t)

files_read_etc_files(tenzura_t)

miscfiles_read_localization(tenzura_t)

sysnet_dns_name_resolve(tenzura_t)

allow tenzura_t tenzura_exec_t:file execute_no_trans;
allow tenzura_t self:process setsched;
corecmd_exec_ls(tenzura_t)
corenet_tcp_connect_http_port(tenzura_t)
dev_read_urand(tenzura_t)
fs_getattr_xattr_fs(tenzura_t)
kernel_read_system_state(tenzura_t)
