
## <summary>policy for tenzura</summary>


########################################
## <summary>
##	Transition to tenzura.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tenzura_domtrans',`
	gen_require(`
		type tenzura_t, tenzura_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, tenzura_exec_t, tenzura_t)
')


########################################
## <summary>
##	Execute tenzura server in the tenzura domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenzura_initrc_domtrans',`
	gen_require(`
		type tenzura_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, tenzura_initrc_exec_t)
')


########################################
## <summary>
##	Search tenzura lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenzura_search_lib',`
	gen_require(`
		type tenzura_var_lib_t;
	')

	allow $1 tenzura_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read tenzura lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenzura_read_lib_files',`
	gen_require(`
		type tenzura_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, tenzura_var_lib_t, tenzura_var_lib_t)
')

########################################
## <summary>
##	Manage tenzura lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenzura_manage_lib_files',`
	gen_require(`
		type tenzura_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, tenzura_var_lib_t, tenzura_var_lib_t)
')

########################################
## <summary>
##	Manage tenzura lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenzura_manage_lib_dirs',`
	gen_require(`
		type tenzura_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, tenzura_var_lib_t, tenzura_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a tenzura environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tenzura_admin',`
	gen_require(`
		type tenzura_t;
		type tenzura_initrc_exec_t;
		type tenzura_var_lib_t;
	')

	allow $1 tenzura_t:process { ptrace signal_perms };
	ps_process_pattern($1, tenzura_t)

	tenzura_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 tenzura_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, tenzura_var_lib_t)

')

